body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #00ffbf;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 16px;
    flex-wrap: wrap;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 350px;
    background-color: #3d4d88;
    padding: 16px;
    filter: drop-shadow(5px 5px 10px #fff);
}

h1 {
    font-size: 50px;
    color: black;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
}

.card div{
    width: 250px;
}

.card div img{
    width: 100%;
}

footer {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100%;
    background-color: #fff;
    color:black;
}